body {
	background-color:#807c7c;
	margin: 0% 20% 0% 20%;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style:italic;
	color:#FFF;
	

}
#logo{
	background-image: url('logo.png');
	background-size:279px,82px;
	background-repeat: no-repeat;
	background-position: center;	
	padding:10px 10px 0px 10px;	
	min-width:300px;
}
h1{
	margin-bottom:0px;
	text-align:right;
	line-height:75%;
	padding:10px 20px 0px 0px;
	padding-top:85px;
}

ul{
	background-color: #906a6a;
	list-style-type: none;
	margin:0px;
	padding:1px 20px 25px 20px;
	min-width:300px;
}

li {
	display:block;
	padding:0px 20px 0px 0px;
}

div{
	background-color: #906a6a;
	margin-bottom:0px;
	margin-top:0px;
	padding:10px;
	min-width:300px;
}
div img{
	padding:15px;
}

.redline{
	background-color: #730000;
	margin: 0% -50% 0% -50%;
	line-height:200%;
}

.clearfix{
	clear:both;
}
.left{
	float:left
}
.right{
	float:right;
}

footer{
	text-align:center;
}
