body {
	background-color:#757575;
	margin:0px;
	padding:0px;
}
.center{
	background-color: #7e6f72;
	margin: 0px 20%;
	padding:25px 0px 10px 0px;	
	min-width:300px;
}
	
#logo{
	background-image: url('logo.png');
	background-size:279px,82px;
	background-repeat: no-repeat;
	background-position: center;	
	padding:25px 0px 10px 0px;	
	margin-top:0px;
	min-width:300px;
}
h1{
	color:#FFF;
	margin-bottom:0px;
	text-align:right;
	line-height:75%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	padding-bottom:0px;
	padding-top:85px;
}
.avatar{
	margin-top: -25px;
}
.redline li{
	padding:0px 15px;
}
.redline ul{
	list-style-type:none;
	display:inline-block;
	margin-top:-16px;
	padding:25px 20% 0px 20%;
}
.redline{
	background-color: #690004;
	height:30px;
	margin:0px;
	min-width:650px;
}
.right{
	float:right;
	padding-right: 25px;
}
.left{
	float:left;
	padding-left:20px;
}

input{
	border-radius: 5px;
}

#inputBoxs input{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

#inputBoxs{
	margin-left: auto;
	margin-right: auto;
	width:150px;
}

#menubar{
	width:100%;
}

footer{
	text-align:center;
}

.folder {
	padding-top:100px;
	position:relative;
	width:350px;
	height:200px;
	overflow:hidden;
	float:left;
}

.folder a{
	text-decoration:none;
	color:black;
}
.folder a:hover{
	color:black;
}
.folder a:visited{
	color:black;
}

.folder img{
	position:absolute;
	top:130px;
	right:0px;
	width:96px;
	height:96px;
	z-index:2;
}

.folder h2{
	color:black;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	background-color:rgba(255,255,255,.5);
	border-radius:15px;
	margin:5px;
	padding:5px;
	max-width:300px;
}

.icon img{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	max-width:350px;
	max-height:200px;
	z-index:1;
}

.clear{
	clear:both;
}

#iconbar img{
	max-width:300px;
	float:left;
}

#image_and_comments{
 display:none;
 position:absolute;
 top:50px;
 left:10%;
 width:80%;
 height:500px;
 background-color:white;
 z-index:11;
 padding:10px;
 border-radius:10px;
}

#selectedImage{
width:65%;
float:left;
overflow:hidden;
height:inherit;
}
#selectedImage img{
max-width:100%;
max-height:100%;
}

#comments_ratings{
background-color:white;
overflow:scroll;
width:28%;
padding-left:3%;
padding-right:3%;
height:inherit;
float:right;
text-align:right;
}
#comments_ratings h3{
text-align:center;
}
#comments_ratings li{
display:block;
text-align:center;
}

#create_project{
background-color:white;
overflow:scroll;
display:none;
width:28%;
padding-left:3%;
padding-right:3%;
height:inherit;
float:right;
text-align:right;
}

#shadow{
clear:both;
display:none;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:rgba(100,100,100,0.5);
z-index:10;
}
