body {
	background-color:#757575;
	margin:0px;
	padding:0px;
}

header h1{
	text-align: center;
	margin-bottom: 30px;
}

.center{
	background-color: #7e6f72;
	margin: 0px 20%;
	padding:25px 0px 10px 0px;	
	min-width:300px;
}

.links a{
	color: #FFFFFF;
    text-decoration: none;
	hover:
}

.links a:hover{
	font-weight:bold;
}

#logo{
	background-image: url('logo.png');
	background-size:279px,82px;
	background-repeat: no-repeat;
	background-position: center;	
	padding:25px 0px 10px 0px;	
	margin-top:0px;
	min-width:300px;
}

h1{
	color:#FFF;
	margin-bottom:0px;
	text-align:right;
	line-height:75%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	padding:85px 25px 0px 0px;
}

.avatar{
	margin-top: -25px;
}

.redline li{
	padding:0px 15px;
	margin-bottom: 30px;
}

.redline ul{
	list-style-type:none;
	display:inline-block;
	margin-top: 5px;
	padding:25px 20% 0px 20%;
	width:60%;
	min-width:480px;
	padding: 0px 30px;
}

.redline{
	background-color: #690004;
	height:30px;
	margin:0px;
	text-align:center;	
}

.right{
	float:right;
	padding-right: 25px;
}

.left{
	float:left;
	padding-left:25px;
}

.newUser_inputBoxes input, .newUser_inputBoxes select{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-bottom: 20px;
}

input{
	border-radius: 5px;
}

.inputBoxes input{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

.inputBoxes{
	margin-left: auto;
	margin-right: auto;
	width:150px;
}

.submitButton{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	position: relative;
	left: 50px;
}

.saveButton{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	position: relative;
	left: 180px;
}

.backButton{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	position: relative;
	right: 180px;
}

.menubar{
	width:100%;
}

.menubar{
	text-align: center;
}

/*Create New User Account uses this*/
.center_link {
	color: black;
	display: inline-block;
	text-decoration: none;
}

/*Forgot password text/link*/
.menubar p:hover, .menubar a:hover{
	color: #334477;
	cursor: pointer;
	cursor: hand;
}

.menubar p:visited, .menubar a:visited{
	color: #664466;
}

footer{
	text-align:center;
}

.folder {
	padding-top:100px;
	position:relative;
	width:350px;
	height:200px;
	overflow:hidden;
	float:left;
}

.folder a{
	text-decoration:none;
	color:black;
}

.folder a:hover{
	color:black;
}

.folder a:visited{
	color:black;
}

.folder img{
	position:absolute;
	top:130px;
	right:0px;
	width:96px;
	height:96px;
	z-index:2;
}

.folder h2{
	color:black;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	background-color:rgba(255,255,255,.5);
	border-radius:15px;
	margin:5px;
	padding:5px;
	max-width:300px;
}

.icon img{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	max-width:350px;
	max-height:200px;
	z-index:1;
}

.clear{
	clear:both;
}

#iconbar img{
	max-width:300px;
	float:left;
}

#image_and_comments{
 display:none;
 position:fixed;
 top:50px;
 left:10%;
 width:80%;
 height:500px;
 background-color:white;
 z-index:11;
 padding:10px;
 border-radius:10px;
}

#selectedImage{
width:65%;
float:left;
overflow:hidden;
height:inherit;
}

#selectedImage img{
max-width:100%;
max-height:95%;
}

#comments_ratings{
background-color:white;
overflow:scroll;
width:28%;
padding-left:3%;
padding-right:3%;
height:inherit;
float:right;
text-align:right;
}

#comments_ratings h3{
text-align:center;
}

#comments_ratings li{
display:block;
text-align:center;
}

#create_project{
 display:none;
 position:absolute;
 top:50px;
 left:10%;
 width:80%;
 height:500px;
 background-color:white;
 z-index:11;
 padding:10px;
 border-radius:10px;
 overflow:scroll;
}

#edit_classes{
 display:none;
 position:absolute;
 top:50px;
 left:10%;
 width:80%;
 height:500px;
 background-color:white;
 z-index:11;
 padding:10px;
 border-radius:10px;
 overflow:scroll;
}

#manage_images{
 display:none;
 position:absolute;
 top:50px;
 left:10%;
 width:80%;
 height:500px;
 background-color:white;
 z-index:11;
 padding:10px;
 border-radius:10px;
 overflow:scroll;
}

#shadow{
clear:both;
display:none;
position:fixed;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:rgba(100,100,100,0.5);
z-index:10;
}

.menu ul { display: none; } /* Hide before plugin loads */

.menu ul.dropit-submenu {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding: 6px 0;
    margin: 3px 0 0 1px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.menu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}

.menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
	font-size: 14px;
	font-weight: normal;
    text-decoration: none;
}

