body {
	background-color:#5F5F5F;
	margin:0px;
	padding:0px;
}

header h1{
	text-align: center;
	margin-bottom: 30px;
}

.center{
	margin: 0px 15%;
	padding:20px;	
	min-width:300px;
}

.links a{
	color: #FFFFFF;
	text-decoration: none;
	hover:
}

.links a:hover{
	font-weight:bold;
}

#logo{
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
	padding-bottom: 40px;
}

h1{
	color:#FFF;
	margin-bottom:0px;
	text-align:right;
	line-height:75%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	padding:160px 25px 0px 0px;
}

.avatar{
	margin-top: -25px;
}

.redline li{
	padding:0px 15px;
}

.redline ul{
	list-style-type:none;
	display:inline-block;
	margin-top: 5px;
	padding:25px 20% 0px 20%;
	width:60%;
	min-width:480px;
	padding: 0px 30px;
}

.redline{
	background-color: #690004;
	height:30px;
	margin:0px;
	text-align:center;
}

.right{
	float:right;
	padding-right: 25px;
}

.left{
	float:left;
	padding-left:25px;
}

.newUser_inputBoxes input, .newUser_inputBoxes select{
	display: block;
}

.newUser_inputBoxes label{
	float: left;
	width: 45%;
	text-align: right;
	padding-right: 28px;
}

#choose_class_to_join{
	width:250px;
	margin-left:auto;
	margin-right:auto;
}
#choose_class_to_join input{
	float:right;
}
#choose_class_to_join hr{
	margin:0px;
}


input, button, select{
	border-radius: 5px;
	background-color: #EEE;
	border: #434343 1px solid;
	min-width: 45px;
}

#inputBoxes input{
	width:170px;
}

.submitButton{
	position: relative;
	left: 150px;
	top: 5px;
}

.saveButton{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	position: relative;
	left: 180px;
}

.backButton{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	position: relative;
	right: 180px;
}

.menubar{
	width:100%;
}

.menubar{
	text-align: center;
}

/*Create New User Account uses this*/
#login {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: 40px;
	right: 20px;
	margin: 5px 0;
}

/*Forgot password text/link*/
.menubar p:hover, .menubar a:hover{
	color: #4A4396;
	cursor: pointer;
	cursor: hand;
}

.menubar p:visited, .menubar a:visited{
	color: #CA728B;
}


/*Gallery css*/
.galleria{
	margin: 0px auto;
	height : 600px;
	background : #000;
	padding-top: 30px;
	margin-top: -50px;
}

/*Groups all content that goes together: used in gallery*/
.centerGrouping{
	margin: 0 auto;
	width: 900px;
	height: 600px;
}

#galleryExit{
	position: relative;
	top: -13px;
	left: 94%;
}

.blackBorder{
	background-color:#000;
	padding: 30px 96.5px 280px;
}

.galleriaStudent, .galleriaStudent img{
	margin: 0px auto;
	width : 707px;
	height : 530px;
	padding-top: 45px;
	margin-top: -50px;
}

/*Comments box in gallery*/
#commentBox{
	width: 500px; /*take the pictures width (707) minus the comments padding (15+15): 707-30=677*/
	height: 180px;
	padding: 15px 15px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 13px;
}

#image_meta_data{
	font-weight:bold;
	color:white;
	background-color:black;
	margin-bottom:10px;
	padding:10px;
}

.sliderRatings{
	color: #FBFBFB;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	position: relative;
	bottom: 200px;
	text-align: center;
}

/*Submit button for the gallery*/
#submitComment{
	margin-left: 620px;
	padding: 3px 18px;
}

/*Where the exit button is (little black strip above img gallery)*/
#exitButton {
	background-color:#000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #CEC2C2;
	position: relative;
	left: 1060px;
	top:30px;
	margin:0;
	font-size: 20px;
}

.blackspace{
	background-color: #000;
	margin: 0 190px;
	font-size: 25px;
}

footer{
	text-align:center;
}

#footerLogin{
	margin-top: 25%;
}

.folder {
	padding-top:10px;
	position:relative;
	width:200px;
	height:200px;
	overflow:hidden;
	float:left;
}

.folder a{
	text-decoration:none;
	color:black;
}

.folder a:hover{
	color:black;
}

.folder a:visited{
	color:black;
}

.folder img{
	position:absolute;
	top:130px;
	right:0px;
	z-index:2;
}

.folder h2{
	font-size:1.2em;
	color:black;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	background-color:rgba(255,255,255,.5);
	border-radius:15px;
	padding:5px;
	margin-top:0px;
	max-width:134px;
	max-height:1.2em;
	overflow:hidden;
}

.clear{
	clear:both;
	}
	
/* images inside of folder*/

.icon img{
	padding:0px;
	position:absolute;
	top:0px;
	left:0px;
	width:144px;
	height:auto;
	max-width:300px;
	max-height:200px;
	z-index:1;
}

#iconbar img{
	padding:20px;
	width:144px;
	height:auto;
	float:left;
	max-width:350px;
}

#image_and_comments{
	display:none;
	position:fixed;
	top:50px;
	left:10%;
	width:80%;
	height:500px;
	background-color:white;
	z-index:11;
	padding:10px;
	border-radius:10px;
}

#selectedImage{
	width:65%;
	float:left;
	overflow:hidden;
	height:inherit;
}

#selectedImage img{
	max-width:100%;
	max-height:90%;
}

#comments_ratings{
	background-color:white;
	overflow-y:scroll;
	width:28%;
	padding-left:3%;
	padding-right:3%;
	height:inherit;
	float:right;
	text-align:right;
}

#comments_ratings h3{
	text-align:center;
}

#comments_ratings li{
	display:block;
	text-align:center;
}

#edit_project{
	display:none;
	position:absolute;
	top:50px;
	left:10%;
	width:80%;
	height:500px;
	background-color:white;
	z-index:11;
	padding:10px;
	border-radius:10px;
	overflow-y:scroll;
	overflow-x:hidden;
}

#create_project{
	width:40%;
	margin-left:3px;
	float:left;
}

#delete_project{
	width:40%;
	height:100%;
	overflow-y:scroll;
	margin-right:3px;
	float:right;
	text-align:left;

}

#project_choose_multiple{
	display:none;
}

#projects_choose_single{
	display:block;
}

#delete_project td{
	padding-right:40px;
}

#edit_classes{
	display:none;
	position:absolute;
	top:50px;
	left:10%;
	width:80%;
	height:500px;
	background-color:white;
	z-index:11;
	padding:10px;
	border-radius:10px;
	overflow:hidden;
	min-width:1000px;

}

#class_create_delete{
	background-color:white;
	overflow-y:hidden;
	width:40%;
	padding-left:3%;
	padding-right:3%;
	height:inherit;
	float:left;
	text-align:right;
}

#students_in_class{
	background-color:white;
	overflow-y:scroll;
	width:40%;
	padding-left:3%;
	padding-right:3%;
	height:inherit;
	float:right;
	text-align:right;
	height:100%;
}

#manage_images{
	display:none;
	position:absolute;
	top:50px;
	left:10%;
	width:80%;
	height:500px;
	background-color:white;
	z-index:11;
	padding:10px;
	border-radius:10px;
	overflow:scroll;

}

#create_session{
	display:none;
	position:fixed;
	top:0px;
	right:0px;
	width:250px;
	z-index:11;
	background-color:white;
	border-radius:10px;
	padding:5px;
}

#shadow{
	clear:both;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(100,100,100,0.5);
	z-index:10;
}

#vote_sliders{
	color:white;
	background-color:black;
	clear:both;
}

.menu ul { display: none; } /* Hide before plugin loads */

.menu ul.dropit-submenu {
	background-color: #fff;
	border: 1px solid #b2b2b2;
	padding: 6px 0;
	margin: 3px 0 0 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
			box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.menu ul.dropit-submenu a {
	display: block;
	font-size: 14px;
	line-height: 25px;
	color: #7a868e;
	padding: 0 18px;
}

.menu ul.dropit-submenu a:hover {
	background: #248fc1;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

