body {
	background-color:#807c7c;
	margin-top:0px;
}
.center{
	background-color: #906a6a;
	margin: 0% 20%;
	padding:10px;
	min-width:300px;SS
}
	
#logo{
	background-image: url('logo.png');
	background-size:279px,82px;
	background-repeat: no-repeat;
	background-position: center;	
	padding:10px 10px 0px 10px;	
	min-width:300px;
}
h1{
	color:#FFF;
	margin-bottom:0px;
	text-align:right;
	line-height:75%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	padding-bottom:0px;
	padding-top:85px;
}

ul{
	list-style-type:none;
	display:block;
	margin:0 px;
	padding: 0px;
}
.redline{
	background-color: #730000;
}

button{
	float:right;
	text-align:right;
	margin:40px 3px 0px 0px;
	box-shadow: 5px 5px 5px #000033;
}
footer{
	text-align:center;
}

.folder {
	padding-top:100px;
	position:relative;
	width:350px;
	height:200px;
	overflow:hidden;
	float:left;
}

.folder a{
	text-decoration:none;
	color:black;
}
.folder a:hover{
	color:black;
}
.folder a:visited{
	color:black;
}

.folder img{
	position:absolute;
	top:130px;
	right:0px;
	width:96px;
	height:96px;
	z-index:2;
}

.folder h2{
	color:black;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	background-color:rgba(255,255,255,.5);
	border-radius:15px;
	margin:5px;
	padding:5px;
	max-width:300px;
}

.icon img{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	max-width:350px;
	max-height:200px;
	z-index:1;
}

.clear{
	clear:both;
}

#iconbar img{
	max-width:300px;
	float:left;
}

#image_and_comments{
 display:none;
 position:absolute;
 top:0px;
 left:0px;
 width:75%;
 height:75%;
 background-color:white;
 z-index:11;
}

#comments_ratings{
background-color:white;
overflow:scroll;
}

#shadow{
display:none;
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:rgba(100,100,100,0.5);
z-index:10;
}